extend layout 

block content 
    h1#booking-title Как забронировать и оплатить тур на нашем сайте

    h2 
        b#booking-header Как забронировать тур?
    
    p.booking-step Для бронирования понравившегося тура выберите кнопку «Добавить в корзину».
    img.booking-image(src="/img/booking/booking1.jpg", alt="", srcset="")
    
    p.booking-step Добавленный тур вы можете посмотреть в «Корзине», нажав на название.
    img.booking-image(src="/img/booking/booking2.jpg", alt="", srcset="")
    
    p.booking-step В корзине вы увидите все добавленные туры.
    img.booking-image(src="/img/booking/booking3.jpg", alt="", srcset="")
    
    p.booking-step Здесь вы можете удалить тур, выбрать дату, указать количество путешественников, а также оставить комментарий. 

    p.booking-step В комментарии вы можете указать наличие и возраст детей, желание приобрести дополнительные предложения, такие как обед или входные билеты, а также выбрать время экскурсии, если это предусматривает программа. Также в комментарии вы можете задать интересующие вас вопросы по программе или сообщить иную информацию (например, дополнительный номер телефона для связи, ваши пожелания), которая поможет нашим менеджерам обработать вашу заявку.

    p.booking-step После внесения данных нажмите «Отправить заказ».

    p.booking-step Также уведомление о созданном бронировании поступит вам на указанную при регистрации почту.
    img.booking-image(src="/img/booking/booking4.jpg", alt="", srcset="")
    
    p.booking-step Отслеживать информацию о заказах вы можете в разделе «Профиль».
    img.booking-image(src="/img/booking/booking5.jpg", alt="", srcset="")
    img.booking-image(src="/img/booking/booking6.jpg", alt="", srcset="")  
    
    p.booking-step После того, как наш менеджер актуализирует вашу заявку, в профиле вы увидите соответствующую информацию, а также получите уведомление об изменении статуса на почту.
    img.booking-image(src="/img/booking/booking7.jpg", alt="", srcset="")  
    
    h2 
        b#payment-header Как оплатить?
    
    p.payment-info Информацию по оплате выбранного вами тура предоставит наш менеджер. В зависимости от выбранного тура, оплата может осуществляться заранее по реквизитам, которые вам будут направлены, либо на месте в автобусе.
    
    p.payment-info.num Все интересующие вас вопросы вы можете задать нам по телефону +7 (4012) 378-368.
