extends layout

block content
  div#cartContainer
    p#nonono Нет заказов в корзине. Добавьте туры для отображения.

  button#sendOrders Отправить заказы

  script(src='tourCard.js')
  script(src='/navbar.js', defer)
  script(src='cart.js')
  script(src='slider.js')
